<% include ../partials/header %>

  <link rel="stylesheet" href="/css/register.css">







  <!-- Register section -->

  <header id="register-section">
    <div class="dark-overlay">
      <div class="register-inner container">
        <div class="row">
          <div class="col-lg-8 d-none d-lg-block">
            <h1>Register On <strong>RealEstate</strong>  to Gain:</h1>
            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              </div>
            </div>
            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              </div>
            </div>
            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              </div>
            </div>
          </div>
              
          <div class="col-lg-4">
            <div class="card bg-primary text-center card-form">
              <div class="card-body">
                <h3>Sign Up Today</h3>
                <p>Please fill out this form to register</p>
                <form action="/register" method="POST">
                  <div class="form-group">
                    <input type="text" name="username" class="form-control form-control-lg" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" class="form-control form-control-lg" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" class="form-control form-control-lg" placeholder="password">
                  </div>
                  <div class="form-group">
                    <input type="password" name="confirmpassword" class="form-control form-control-lg" placeholder="confirm password">
                  </div>
                  <input type="submit" name="" value="Submit" class="btn btn-outline-light btn-block">
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </header>


  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());
  </script>

<% include ../partials/footer %>