
<link rel="stylesheet" type="text/css" href="/css/footer.css">
<div class="top-footer">
	<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-6">
					<a><i class="logo fas fa-home fa-3x"></i> Find Houses</a>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.	</p>
					<a class="btn btn-secondary">Read More...</a>
				</div>
				<div class="col-lg-5 col-md-6 second-col">
					<h3  class ="contactus">
						Contact Us
					</h3>
					<div class="contact">
						<ul class="ulclass">
							<li class="liclass">
								<div class="info">
									<i class="fa fa-map-marker-alt"></i>
									<p class="contactus-item">95 South Park,Mumbai</p>
								</div>
							</li>
							<li class="liclass">
								<div class="info">
									<i class="fa fa-phone"></i>
									<p class="contactus-item">94683733</p>
								</div>
							</li>
							<li class="liclass">
								<div class="info">
									<i class="fa fa-envelope"></i>
									<p class="contactus-item">lorem@ipsum.com</p>
								</div>
							</li>
						</ul>
				</div>
				</div>
			</div>
	</div>
</div>
<div class="second-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-6">
				<p>2018 © Copyright - All Rights Reserved.</p>
			</div>
			<div class="col-lg-5 col-md-6" style="float: right;">
				<p>
					Made For Internet Programming mini project
				</p>
			</div>

			
		</div>
	</div>
</div>

</body>
</html>