<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/responsive.css">
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-lg-3 test2">1</div>
			<div class="col-lg-3 test4">2</div>
			<div class="col-lg-3 test3">3</div>
			<div class="col-lg-3 test5">4</div>
		</div>
	</div>

</body>
</html>